.project-card {
    display: flex;
    flex-direction: row;
    /* justify-content: space-between; */
    padding: 30px;
    border-radius: 10px;
}

.project-card:hover {
    background-color: rgba(123, 197, 131, 0.2);
}

.project-preview {
    width: 30%;
    border-radius: 10px;
    overflow: hidden;
    /* height: 30%; */
}

.project-preview img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.project-info {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding-left: 32px;
}

.project-title {
    font-size: 28px;
    margin-bottom: 20px;
}

.project-desc {
    font-size: 18px;
    line-height: 1.8rem;
    color: var(--text-color);
    font-weight: 300;
    text-align: justify;
    margin-bottom: 10px;
}

.project-features {
    flex: 1;
}

.project-features li {
    display: inline-block;
    margin-right: 10px;
    margin-bottom: 30px;
    font-size: 14px;
    border-radius: 3px;
    border: 1px solid var(--primary-color);
    color: var(--primary-color);
    padding: 3px 8px;
}

.project-btns {
    padding-bottom: 6px;
}

.btn {
    padding: 6px 14px !important;
}

.btn-filled {
    background-color: var(--secondary-color) !important;
}

.btn-outlined {
    color: var(--secondary-color) !important;
    border: 1.5px solid var(--secondary-color) !important;
}