@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;600;900&display=swap');
:root {
    --primary-color: #519259;
    --secondary-color: #116530;
    --text-color: #333;
    --background-color: #fff;
}

body {
    background-color: var(--background-color);
    color: var(--text-color);
    font-family: 'Roboto', sans-serif !important;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

button {
    outline: none;
    border: none;
}

input {
    outline: none;
    border: none;
}